{% extends 'base.html' %} {% load static %}
{% block head %}
<style>
    .m-top{
        padding: 0;
        margin: 0;
        position: relative;
        z-index: 3;
        /* background-image: url({% static '/img/wrap.jpg' %}); */
        background-position: 50% 25%;
        background-size: cover;
        background: linear-gradient(180deg, rgb(44, 45, 49) 0%, rgba(32,33,37,0) 64%);
    }
    .m-body{
        margin-left: 150px;
        margin-right: 150px;
    }
    .bottom{
        background: linear-gradient(180deg, rgba(44, 45, 49, 0) 0%, rgb(32,33,37) 98%);
    }
    #action-button{
        background: rgb(149, 178, 209);
        border-radius: 0 0 40px 40px;
    }
    #action-button:hover{
        background-color: rgb(130, 162, 196);
    }
    #action-button .btn {
    display: block;
    border-radius: 0;
    padding: 15px 20px;
    font-weight: 600;
    background: none !important;
    color: rgb(238, 237, 237) !important;
    border: none !important;
    box-shadow: none !important;
    }
</style>
{% endblock %}
{% block title %} Home {% endblock %}
{% block content %}
    <!-- Login -->
    <div class="m-top bg-dark-subtle">
        <section class="text-gray-600 body-font">
            <div class="container px-5 py-20 mx-auto flex flex-wrap items-center">
                <div class="lg:w-2/4 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
                    <h1 class="title-font font-medium text-3xl text-gray-900">Welcome to ReelPick </h1>
                    <p class="leading-relaxed mt-4 text-gray-700">Explore now.</p><br/>
                    {% if user.is_authenticated %}
                    <p></p>
                    {% else %}
                    <a href="{% url 'login' %}"><button id="action-button" class="text-white border-0 py-2 px-7 focus:outline-none hover:bg-indigo-500 rounded text-lg">Login</button></a>
                    <p class="text-xs text-gray-500 mt-3">Don't have an account yet? <a href="{% url 'signup' %}">Sign Up Now.</a></p>
                    {% endif %}
                </div>

                <div class="lg:w-2/4 rounded-lg p-8 flex flex-col md:ml-auto mt-10 md:mt-0">
                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner m-0 rounded">
                            <div class="carousel-item active">
                                <img src="{% static 'img/slider1.webp' %}" class="d-block w-100 h-80">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'img/slider2.jpeg' %}" class="d-block w-100 h-80">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'img/slider3.jpeg' %}" class="d-block w-100 h-80">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

            <!-- {% if user.is_authenticated %}
            <p></p>
            {% else %}
            <div class="lg:w-2/6 md:w-1/2 bg-gray-100 rounded-lg p-8 flex flex-col md:ml-auto w-full mt-10 md:mt-0">
                <p class="leading-relaxed mt-4">To utilize the watchlist</p>
                <a href="{% url 'login' %}"><button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Login</button></a>
                <p class="text-xs text-gray-500 mt-3">Don't have an account yet? <a href="{% url 'signup' %}">Sign Up Now.</a></p>
            </div>
            {% endif %}
            -->
            </div>
        </section>
    </div>
    <div class="m-body">
        <div id="action-button">
            <a href="{% url 'movies' %}" class="btn btn-lg btn-radius btn-primary">View Full Site <i class="fas fa-arrow-circle-right ml-2"></i></a>        
        </div>
    </div>


    <!-- banners -->
    <section class="text-gray-600 body-font overflow-hidden">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
        <div class="lg:max-w-lg lg:w-full md:mb-0 mb-10">
            <img class="object-cover object-center rounded" alt="hero" src="{% static 'img/watch.png' %}" height="350px" width="350px">
        </div>
        <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center">
            <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Get recommendation
            </h1>
            <p class="mb-8 leading-relaxed">Get recommendation based on the movies you searched.</p>
        </div>
        </div>
    </section>
    <section class="bottom text-gray-600 body-font overflow-hidden bg-dark-subtle">
        <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
            <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900">Maintain Your Personal Watchlist 
                </h1>
                <p class="mb-8 leading-relaxed text-gray-300">Add the movies you want to watch to your watchlist.</p>
            </div>
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                <img class="object-cover object-center rounded" alt="hero" src="{% static 'img/mov.png' %}" height="350px" width="350px" \>
            </div>
        </div>
    </section>
{% endblock %}