{% extends 'base.html' %} {% load static %}
{% block title %} {{title}} {% endblock %}
{% block content %}
<section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
      <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="{{title}}" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{poster}}">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm title-font text-gray-500 tracking-widest">MOVIE NAME</h2>
          <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{title}}</h1>
            <!-- <span class="flex items-center">
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-400" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-400" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-400" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-400" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-400" viewBox="0 0 24 24">
                <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
              </svg>
              <span class="ml-3">4 Reviews</span>
            </span> -->
          <!-- </div> -->
          <h3 class="text-gray-500 text-xs tracking-widest title-font mt-4 mb-1">Genre</h3>
          <p class="leading-relaxed mb-2">{{genre}}</p>

          <h3 class="text-gray-500 text-xs tracking-widest title-font mt-4 mb-1">Overview</h3>
          <p class="leading-relaxed mb-2">{{overview}}</p>

          <h3 class="text-gray-500 text-xs tracking-widest title-font  mt-4 mb-1">Release date</h3>
          <p class="leading-relaxed mb-2">{{release_date}} <span class="badge badge-pill badge-primary text-danger">{{ status }}</span></p>

          <a class="flex text-gray-500 text-xs tracking-widest title-font mt-4 mb-1 "><img class="shadow-1-strong me-1" src="{% static 'img/imdb.png' %}" alt="IMDb" height="35px" width="35px"/>
            <span class="mt-2 mb-2">Rating</span>
          </a>
          <span class="flex items-center">
          <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-indigo-400" viewBox="0 0 24 24">
            <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
          </svg>
          <span class="leading-relaxed ml-3">{{imdb}}/10</span>
          </span>

          <h3 class="text-gray-500 text-xs tracking-widest title-font mt-4 mb-1">Production Companies</h3>
          <p class="leading-relaxed mb-2">{{prod}}</p>
          <h3 class="text-gray-500 text-xs tracking-widest title-font mt-4 mb-1">Know More About This Movie</h3>
          <a class="leading-relaxed mb-2 text-primary" href="{{link}}" target="_blank">{{link}}</a>
          <br>
          {% if user.is_authenticated %}
            {% if status_watch == True %}
            <form action="{% url 'addToWatchList' %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="movie_id" value="{{ movie_id }}">
              <input type="hidden" name="user" value="{{ request.user }}">
              <button class="btn btn-outline-danger mt-2">Add to Watchlist</button>
            </form>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container my-5 py-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8" >
          <div class="card-header"><img class="float-left mb-2 me-2" src="{% static 'img/chat.png' %} " style="width: 25px; height: 25px;"/><h2 class="text-gray-900 text-lg title-font font-medium mb-2">Comments</h2>
          </div>
          <div class="card" style="background-color: #eee;" >
            {% for comment in movie_comments %}
              <div class="card-body">
                  <div class="d-flex flex-start align-items-center">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="{% static 'img/user.png' %}" alt="avatar" width="50"
                      height="50" />
                    <div>
                      
                      {% if comment.user_id %}
                        <h6 class="fw-bold text-primary mb-1">{{ comment.user }}</h6>
                      {% endif %}
                      
                      <h6 class="fw-bold text-primary mb-1"></h6>
                      <p class="text-muted small mb-0">
                        {{ comment.created_at }}
                      </p>
                    </div>
                  </div>
                  
                  <p class="mt-3 mb-2 ">
                    {{ comment.comments }}
                  </p>
                  {% if comment.user_id == user.id %}
                    <form action="{% url 'deleteComment' comment.id %}" method="post" class="m-0">
                      {% csrf_token %}
                      <button class="btn btn-sm btn-outline-danger py-2 px-4 rounded float-right">Delete</button>
                      <input type="hidden" value="{{ movie_id }}" name="movie_id">
                    </form>
                  {% endif %}
                </div>
            {% endfor %}
            <div class="card border-light mb-3 w-100" >
                <div class="card-footer py-3 border-0" style="background-color: #eee;">
                  <div class="d-flex flex-start w-100">
                    <img class="rounded-circle shadow-1-strong me-3"
                      src="{% static 'img/user.png' %}" alt="avatar" class="rounded" style="width: 50px; height: 50px;"/>
                    <form action="{% url 'saveComment' %}" method="post" class="w-100">
                      {% csrf_token %}
                      <div class="form-outline w-100">
                        <textarea class="form-control" id="textAreaExample" rows="2"
                          style="background: #fff;" name="comments" id="comments">
                        </textarea>
                        <input type="hidden" value="{{ request.user }}" name="user">
                        <input type="hidden" value="{{ movie_id }}" name="movie_id">
                        <button class="btn btn-outline-primary btn-md float-right mt-3">Post comment</button>
                      </div>
                    </form>
                  </div>
                </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}